# Ignore outputs
lacrosse_output/
__pycache__/
*.pyc

# Ignore datasets
*.csv
*.xlsx
*.json
*.txt

# Ignore Jupyter and Colab temp files
.ipynb_checkpoints/
.colab/
*.ipynb_checkpoints

# Ignore system files
.DS_Store
.env
*.log
